.bottom_bar {
	position: fixed;
	bottom: -4rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 0.5rem;
	animation: slide_up 750ms 3000ms forwards;

	button {
		padding: 0.75rem;
		cursor: pointer;
		transition: 50ms ease-in;

		&:hover {
			background-color: var(--background-two);

			svg {
				color: var(--accent-one);
			}
		}

		&:disabled {
			cursor: not-allowed;

			&:hover {
				background-color: var(--background-two);

				svg {
					color: var(--foreground-two);
				}
			}
		}

		svg {
			font-size: 1.25rem;
			display: block;
			transition: 50ms ease-in;
		}
	}

	.tooltip {
		padding: 0.75rem 2rem;
		white-space: nowrap;

		&.algorithm {
			cursor: pointer;

			&:hover {
				background-color: var(--background-two);

				h4 {
					color: var(--accent-one);
				}
			}
		}

		h4 {
			font-size: 0.875rem;
			font-weight: 500;
		}
	}

	button,
	.tooltip {
		border: 1px solid var(--line);
		border-bottom-style: unset;
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
		background-color: var(--background-one);
	}
}

@keyframes slide_up {
	0% {
		bottom: -4rem;
	}

	100% {
		bottom: 1rem;
	}
}

@media screen and (max-width: 475px) {
	.bottom_bar {
		flex-wrap: wrap;
		justify-content: center;

		button {
			border-style: solid;
			border-radius: 0.5rem;
			order: 1;
		}

		.tooltip {
			order: 2;
		}
	}
}
