.network_graph {
	height: 100%;
	width: 100%;
	background-color: var(--background-two);
	background-image: radial-gradient(var(--dots) 1.5px, transparent 1.5px);
	background-size: 1.25rem 1.25rem;
	border: 1px solid var(--line);
	border-radius: 0.5rem;
}
