:root {
	--background-one: #ffffff;
	--background-two: #f5f5fa;

	--line: #d9dae8;
	--dots: #dadae7;

	--foreground-one: #000000;
	--foreground-two: #9796a1;

	--accent-one: #3936c8;
	--accent-two: #00b2b2;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body,
input,
button {
	color: var(--foreground-one);
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	letter-spacing: 0.25px;
}

input,
button {
	background: none;
	border: none;
	outline: none;
}

#root {
	height: 100vh;
	padding: 1rem;
	background-color: var(--background-one);
}
